@model ToZeptyUI.Models.ResetPasswordViewModel
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = "Reset Password";
}

<h2 style="margin-top: 0%; margin-left: 32%;">Customer Reset Password</h2>
<div class="container d-flex align-items-center justify-content-center">

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "col-md-6" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal mt-1">
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, "Enter Username :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                    @Html.LabelFor(model => model.PhoneNumber, "Enter Phone Number:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Enter New Passwrd :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ">
                <div class="col-12">
                    @Html.LabelFor(model => model.ConfirmPassword, "Enter Password Again:", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col">
                    <div class="input-group">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @Html.MathCaptcha("Refresh", "Enter Captcha", "Please enter text")

            <div class="form-group">
                <button class="btn btn-dark" style="font-size: 10px; padding: 4px 10px; margin-top: -11%; margin-left: 38%;"
                        onclick="window.location.reload()">
                    Refresh
                </button>
            </div>
            <p class="text-danger " style="font-weight: bold;">  @ViewBag.ErrMessage </p>
        </div>



        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Reset Password" class="btn btn-outline-primary" />
                <a href="javascript:history.back()" class="btn btn-outline-dark">Back</a>
            </div>
        </div>
    }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
