<!DOCTYPE html>
<html>
<head>
    <link href="~/assets/Aadarsh/css/style.css" rel="stylesheet" />
    <link rel="icon" href="~/assets/Aadarsh/images/ToZeptyTrans.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/Aadarsh/images/ToZeptyTrans.png" type="image/x-icon">
   

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -ToZepty</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* Your existing styles remain unchanged */

        .icon {
            height: 30px;
            width: 30px;
        }

        .navbar-nav .nav-link {
            padding: 10px 15px;
            transition: background-color 0.2s;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .body-content {
            padding: 0px 0px 20px 0px;
            background-color: #f4f4f4;
        }

        .bold-blue {
            font-weight: bold;
            color: blue;
        }


        body, html {
            margin: 0;
            padding: 0;
        }

        .jumbotron {
            padding: 1rem 2rem;
        }

        footer {
            padding: 10px 0;
            background-color: #222;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">

                <img src="~/assets/Aadarsh/images/Minimal Grocery Market Logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" >
                ToZepty
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="ms-auto">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About ", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact ", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="loginDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="loginDropdown">
                            <a class="dropdown-item" href="@Url.Action("AdminLogin", "Account")">
                                <img src="~/Assets/Aadarsh/images/settings.png" alt="Admin Icon" class="icon"> Admin
                            </a>
                            <a class="dropdown-item" href="@Url.Action("CustomerLogin", "Account")">
                                <img src="~/Assets/Aadarsh/images/person.png" alt="Customer Icon" class="icon"> Customer
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Registration", "Account")">
                                <img src="~/Assets/Aadarsh/images/user.png" alt="Sign Up Icon" class="icon"> Sign Up
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid body-content" style="margin:auto">
        @RenderBody()
        <hr />

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src="~/assets/Aadarsh/js/jquery-2.1.4.min.js"></script>
    <script src="~/assets/Aadarsh/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });</script>
   
    <script src="~/assets/Aadarsh/js/minicart.js"></script>
    <script>
        paypalm.minicartk.render(); 

        paypalm.minicartk.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });</script>
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
        }</script>
    <script src="~/assets/Aadarsh/js/SmoothScroll.min.js"></script>
    <script src="~/assets/Aadarsh/js/move-top.js"></script>
    <script src="~/assets/Aadarsh/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });</script>
    <script>
        $(document).ready(function () {
           
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });</script>
    <script src="~/assets/Aadarsh/js/bootstrap.js"></script>
</body>
</html>